Build/*.*
Build/Chrome/
Build/Compilers/
Build/Documentation/*.*
Build/Documentation/bg_images
Build/Documentation/doc_images
Build/Documentation/map_icons
Build/Documentation/outcome_images
Build/Documentation/scene_icons
Build/Documentation/sections
Build/Internal/
Build/Interpreters/
Build/Retrospective/
Build/Symbols/
Build/Web/
Build_*/
*.aps
*.user
.vs/
Debug/
DebugX64/
Release/
ReleaseX64/
GPUCache/
Distribution/inweb/
Distribution/intest/
Distribution/inform/
Distribution/*Screencast*
Distribution_*/
Inform7/Build.h
Projects/
Tools/
todo.txt
